@include laptop {
    .landing__base {
        .container {
            padding: 0px 30px !important;
        }

        header {
            .container {
                nav {
                    .nav__header {
                        .navbar {
                            margin-left: 35px;
                        }
                    }

                    ul {
                        gap: 34px;
                    }
                }
            }
        }

        .header__container {
            .container {
                max-height: 1144px;
                height: 748px;
            }

            &-row {
                padding: 110px 22px !important;
            }

            &-left {

                h1 {
                    font-size: 31px;
                }

                article {
                    font-size: 20px;
                }

                .button {
                    font-size: 23px;
                    margin-top: 30px !important;
                    height: 80px;
                    width: 390px;
                }
            }

            &-title {
                width: 609px;
                gap: 35px;
            }
        }
    }
}


@include laptop_xl {
    .container {
        padding: 0px 90px;
    }

    .landing__base {
        .header__wrapper {
            max-height: 1080px;
            top: 8px;

            img {
                padding-left: 33px;
                padding-right: 60px;
            }
        }

        header {
            .container {
                padding: 43px 90px;
                padding-top: 33px !important;

                nav {
                    .nav__header {
                        a {
                            img {
                                width: 335px;
                            }
                        }

                        .button {
                            padding: 3px;
                            font-size: 13px;
                            height: 40px;
                            width: 83px;
                        }
                    }

                    .navbar {
                        margin-left: 80px;

                        .navbar-menu {
                            li {
                                a {
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    ul {
                        gap: 64px;
                    }
                }
            }
        }

        .header__container {
            max-height: 710px;

            &-row {
                padding-top: 71px;
                padding-bottom: 85px;
                padding-left: 53px;
                padding-right: 53px;
            }

            &-right {
                width: 48%;

                img {
                    padding-top: 83px;
                    padding-left: 69px;
                    width: 330px;
                }
            }

            &-title {
                gap: 40px;
                width: 500px;

                h1 {
                    font-size: 36px;
                }

                article {
                    font-size: 20px;
                }

                .button {
                    font-size: 22px;
                    margin-top: 30px !important;
                    height: 73px;
                    width: 348px;
                }
            }
        }
    }

    footer {
        .footer__landing {
            min-height: 372px;

            .container {
                padding: 0px 90px;

                .footer__map {
                    &-row {
                        justify-content: none;
                        gap: 0px;
                        padding-top: 88px;

                        img:nth-child(1) {
                            width: 250px;
                        }

                        img:last-child {
                            width: 93px;
                        }

                        .map__element {
                            width: 220px;

                            h1 {
                                font-weight: 600;
                                margin-bottom: 0px;
                            }

                            a {
                                font-size: 15px;
                                font-weight: 500;
                            }
                        }

                        .map__element:nth-child(2) {
                            width: 120px !important;
                            margin-left: -55px;
                        }

                    }
                }
            }
        }
    }
}

@include tablet {
    header {
        .container {
            padding: 0 100px;
        }
    }
}

@include mobile {
    .tarifs__header {
        margin-top: 55px;

        .container {
            h1 {
                display: none;
            }

            padding: 0px 9px;
        }

        &-banner {
            width: 100% !important;

            img {
                width: 170px !important;
            }

            .banner__column {
                h1 {
                    font-size: 15px !important;
                    display: block;
                }

                span {
                    font-size: 55px !important;
                }
            }
        }
    }

    .tarifs__body {
        .container {
            padding: 0px 9px !important;
        }

        .border {
            width: 95% !important;
            padding: 2px !important;
        }

        &-row {
            width: 85% !important;
            justify-content: center !important;
        }

        &-space {
            min-width: 41% !important;

            .tarif__element {
                max-width: 92% !important;

                &-header {
                    min-height: 65px !important;

                    h1 {
                        font-size: 15px !important;
                    }
                }

                &-body {
                    height: 175px !important;

                    span {
                        font-size: 9px !important;
                    }

                    span:nth-child(2) {
                        color: $white;
                        font-size: 14px !important;
                    }

                    h1 {
                        font-size: 19px !important;
                        font-weight: 500;
                        color: $blue-tarif;
                    }
                }
            }

            .button {
                width: 100% !important;
                margin-top: 30px !important;
                font-size: 15px !important;
            }

        }

        &-space:nth-child(2) {
            scale: 111% !important;
            gap: 15px !important;

            .tarif__element {
                &-header {
                    text-align: center;
                    color: $white;
                    background-color: $orange;
                }

                &-body {
                    h1 {
                        font-size: 15px !important;
                    }
                }
            }
        }


    }

    .tarif__pays {
        margin-bottom: 55px;

        .container {
            padding: 0px 9px !important;
        }

        h1 {
            text-transform: uppercase;
            font-size: 16px !important;
            text-align: center;
            margin-bottom: 15px;
        }

        &-rows {
            display: flex;
            align-items: center;
            justify-content: none !important;
            gap: 15px !important;

            img {
                width: 100% !important;
            }
        }
    }

    .landing__base {
        .modal {
            padding: 20px !important;
            z-index: 9999999 !important;

            .modal-content {
                margin-top: 85px;
                width: 100% !important;

                .modal__header {
                    h2 {
                        font-size: 19px;
                        margin-left: 79px;
                    }

                    img {
                        display: none;
                    }
                }
            }

            .modal__body {
                padding: 25px;

                .input__space {
                    width: 100% !important;
                }

                .button {
                    width: 100%;
                    font-size: 19px;
                }

                .social__row {
                    width: 100% !important;

                    .social__object {
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }

        header {
            background-color: $white;

            .container {
                nav {
                    padding: 0 6px;
                    padding-top: 13px;

                    .nav__header {
                        a {
                            img {
                                width: 200px !important;
                            }
                        }
                    }
                }
            }
        }

        nav {
            gap: 0px !important;
            font-size: 11px;

            .profile__circle {
                display: flex;
                order: 2 !important;
                margin-left: 12px !important;
                width: 34px !important;
                height: 34px !important;
            }

            .nav__header {
                .button {
                    order: 2;
                    margin-left: 7px !important;
                    height: 28px !important;
                    padding: 1px !important;
                    box-shadow: 0px 2px 0px #144285;
                    border: 2px solid $blue-8;
                    width: 60px !important;
                    font-size: 11px !important;
                }

            }

        }

        .navbar {
            margin-left: 0px !important;
            flex-direction: column;
            position: relative;


            .hamburger-lines {
                display: block;
                height: 34px;
                width: 38px;
                top: -13px;
                left: 12px;
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: 5px;
                justify-content: space-evenly;

                .line {
                    display: block;
                    height: 2px;
                    width: 100%;
                    border-radius: 3px;
                    background: $gray;
                }

                .line1 {
                    transform-origin: 0% 0%;
                    transition: transform 0.4s ease-in-out;
                }

                .line2 {
                    transition: transform 0.2s ease-in-out;
                }

                .line3 {
                    transform-origin: 0% 100%;
                    transition: transform 0.4s ease-in-out;
                }
            }

            .navbar-menu {
                display: none;
                position: fixed;
                top: 55px;
                padding: 15px !important;
                border-radius: 11px;
                right: 13px;
                width: 45%;
                height: fit-content;
                flex-direction: column;
                align-items: flex-start;
                gap: 9px;
                background-color: $green-2;
                padding: 20px;
                z-index: 9999999999 !important;

                li {

                    a {
                        font-size: 15px !important;
                        color: $white !important;
                    }
                }
            }

            input[type="checkbox"]:checked~.navbar-menu {
                display: flex;
            }
        }

        .header__wrapper {
            top: 0;

            img {
                display: none;
            }
        }

        header {
            .container {
                padding: 0 10px !important;
            }
        }

        .header__container {
            max-height: 100%;

            &-row {
                flex-direction: column;
                padding: 30px 3px !important;
            }

            .container {
                padding: 0 29px !important;
                height: 100%;
            }

            &-left {
                order: 2;
                width: 100%;
            }

            &-title {
                width: 100%;
                gap: 30px;
                flex-direction: column;

                h1 {
                    margin-top: 32px;
                    width: 97%;
                    font-size: 24px;
                }

                article {
                    font-size: 14px;
                }

                .button {
                    margin-top: 10px !important;
                    width: 90%;
                    font-size: 18px;
                    height: 58px;
                    border-radius: 9px;
                }
            }

            &-right {
                width: 100%;

                img {
                    padding-top: 0px;
                    padding-left: 0px;
                    width: 123px;
                }
            }
        }
    }

    .traning__header {
        .container {
            padding: 0px 16px !important;
        }

        &-selected {
            padding: 5px !important;
            position: relative;
            width: 100% !important;

            &.row {
                min-height: 360px;
            }

            .tranin-header-left {
                display: flex;
                padding: 18px;
                gap: 15px;
                justify-content: space-evenly;
                flex-direction: column;

                h1 {
                    font-size: 28px;
                }
            }

            article {
                width: 95% !important;
                font-size: 14px !important;
            }

            article:nth-child(2) {
                width: 66% !important;
            }

            .memo__book {
                width: 65px !important;
                position: absolute;
                bottom: 55px !important;
                right: 0;
            }

            &.alph-bg {
                background-position: inherit;
            }

            &.quest-bg {
                padding: 15px !important;
                position: relative;

                img {
                    position: absolute;
                    width: 117px !important;
                    margin: 0px !important;
                    right: 10px !important;
                    bottom: 55px !important;
                }

                .traning-header-left {
                    width: 100% !important;
                }

                article {
                    font-size: 13px !important;
                }
            }

            &.sounds-bg-2 {
                padding: 15px !important;
            }
        }

        &-row {
            flex-direction: column;
            gap: 15px !important;
            font-size: 15px !important;

            select {
                height: 38px !important;
                border-width: 1px !important;
                width: 200px !important;
                font-size: 15px !important;
                padding-left: 15px !important;
            }
        }

        &-column {
            height: 100% !important;
        }

        &-title {
            padding: 15px 16px 5px 16px !important;
            gap: 5px !important;

            h1 {
                font-size: 16px !important;
            }

            a {
                font-size: 15px !important;
                margin-left: auto !important;
            }
        }

        &-alph {
            gap: 16px !important;
            justify-content: center !important;
            row-gap: 20px !important;
            padding: 9px !important;
            margin-bottom: 35px !important;

            .alph__element {
                max-width: 46% !important;
                min-width: 44% !important;
                width: -webkit-fill-available;
                max-height: 143px !important;

                &.voices {
                    min-width: 44% !important;
                    max-height: 220px !important;

                    .alph__element {
                        &-letter {
                            img {
                                width: 110px !important;
                                height: 70px !important;
                            }
                        }
                    }

                    .letter__name {
                        padding: 7px !important;
                        font-size: 13px !important;

                        span {
                            font-size: 14px !important;
                        }
                    }

                    .more__orange {
                        h1 {
                            font-size: 17px !important;
                        }
                    }
                }

                .letter__name {
                    font-size: 17px !important;

                    span {
                        font-size: 17px !important;
                    }
                }

                &-letter {
                    align-items: center !important;

                    h1 {
                        font-size: 55px !important;
                        flex: 0 !important;
                    }

                    img {
                        width: 53px !important;
                        height: fit-content !important;
                        margin: 0px !important;
                        margin-left: 0px !important;
                    }

                    &.more {
                        h1 {
                            font-size: 17px !important;
                        }
                    }
                }
            }
        }
    }

    .profile__container {
        .container {
            padding: 0px 9px;
            height: 100%;

            .information__row {
                height: 100%;
                align-items: center;
                margin-bottom: 35px;
                gap: 35px;
                flex-direction: column;
            }
        }
    }

    footer {
        .footer__landing {
            .container {
                padding: 0px 30px;

                .footer__map {
                    &-row {
                        padding-top: 35px;
                        position: relative;
                        flex-direction: column;

                        .map__element:nth-child(2) {
                            margin-left: 0px !important;
                            margin-top: 20px;

                            h1 {
                                height: 35px;
                            }
                        }

                        .map__element {
                            gap: 5px;
                            width: 202px;
                            margin-top: 35px;


                            h1 {
                                margin-bottom: 3px;
                                font-size: 17px;
                                height: 35px;
                            }

                            a {
                                font-size: 15px;
                            }

                            &-link {
                                gap: 5px;
                            }
                        }


                        .map__element:nth-child(3) {
                            width: 350px;
                        }

                        .map__element:nth-child(4) {
                            margin-bottom: 45px;

                            h1 {
                                height: 55px;
                            }
                        }

                        img:nth-child(1) {
                            width: 180px !important;
                        }

                        img:last-child {
                            position: absolute;
                            bottom: 45px;
                            width: 70px !important;
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    .game__container {
        margin-top: 29px;

        .container {
            padding: 0px 95px;

            .game__body {

                &-row {
                    width: 100%;

                    .text__space {
                        width: 246px;
                    }

                    .letter__select {
                        padding-left: 25px;
                        width: 100%;

                        svg {
                            width: 31px;
                        }
                    }
                }

                &-form {
                    width: max-content;
                    height: 100%;
                }

                &-selected {
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 15px;
                    width: 100%;

                    .selected__radio {
                        label {
                            font-size: 75px;
                        }
                    }

                    .letter__object {
                        width: 47%;
                        max-height: 100%;
                        height: 150px;
                    }
                }
            }
        }
    }
}