{% load static %}
<footer>
<div class="footer__landing">
    <div class="container">
        <div class="footer__map-row">
            <img src="{% static 'img/logo_black.svg' %}" alt="">
            <div class="map__element">
                <h1>О нас</h1>
                <div class="map__element-link">
                <a>Упражнения</a>
                <a>Блог</a>
                <a>Тарифы</a>
                </div>
            </div>
            <div class="map__element">
                <h1>Условия и конфиденциальность</h1>
                <div class="map__element-link">
                <a>Правила сообщества</a>
                <a>Условия</a>
                <a>Конфиденциальность</a>
                </div>
            </div>
            <div class="map__element">
                <h1>Мы в социальных
                    сетях</h1>
                    <div class="map__element-link">
                    <a>Telegram</a>
                    <a>Вконтакте</a>
                    <a>Однокласники</a>
                </div>
            </div>
            <img src="{% static 'img/duck_book.svg' %}" alt="">
        </div>
    </div>
</div>
</footer>